// breakpoint: 768px, 1280px
$tablet: 48rem;
$desktop: 80rem;
$max-width: 63.75rem;

$color-info: #13182c;
$color-success: #158463;
$color-error: #c94515;

$color-text: #ffffff;
$color-nav: #ffffff;
$color-cta: #2e66e5;
$color-bg: #ffffff;
$color-bg-cta-hover: #232940;
$color-bg-page: #f7f8f9;
$color-bg-cta: #f7f8f9;

$color-text-secondary: #5c667e;
$color-border: #514e4ebf;
$color-bg-nav: #8B1E1E;

// Type Kit variables

$h1-desktab-fontsize: 2.2rem;
$h2-desktab-fontsize: 1.5rem;
$h3-desktab-fontsize: 0.875rem;
$h4-desktab-fontsize: 0.75rem;
$p1-desktab-fontsize: 1rem;
$p2-desktab-fontsize: 0.875rem;
$p3-desktab-fontsize: 0.75rem;

$h1-mobile-fontsize: 1.75rem;
$h2-mobile-fontsize: 1.25rem;
$h3-mobile-fontsize: 0.81rem;
$h4-mobile-fontsize: 0.69rem;
$p1-mobile-fontsize: 0.94rem;
$p2-mobile-fontsize: 0.81rem;
$p3-mobile-fontsize: 0.69rem;